.sortable {
  cursor: pointer !important;
}
.sortable:hover {
  background: #e0e0e0 !important;
}

.item-table__source {
  white-space: normal;
  word-wrap: break-word;
}

.item-table__row {
  transition: background-color .3s;
}

.item-table__row:hover {
  background-color: #e4e9ee;
}

.checkbox--inverted label {
  color: #fff !important;
}